:root {
    /* Colors */
    --primary-color1: #e5e8f7;
    --primary-color2: #fce7f6;
    --dark-primary: #333;
    --orange-primary: #e47c3b;
    --gray-primary: #878787;
    --white-primary: #fff;
    --red-primary: #f63737;
    /* Fonts */
  }